body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e3e3e3;
  }
  
  #header {
    background-color: #ffffff;
    color: #000;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure the header is above other content */
  }
  
  #content {
    padding-top: 80px; /* Adjust to accommodate the fixed header */
    padding-bottom: 100px;
    background-color: #e3e3e3;
    margin-top: 100px;
  }
  
  #commentSection {
    max-width: 600px;
    margin: 20px auto;
  }
  
  #commentsContainer {
    margin-bottom: 20px;
  }
  
  #createComment {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px; /* Limit max width to prevent extending too far */
    padding: 10px;
    background-color: #e3e3e3;
    display: flex;
    align-items: center;
  }
  
  #displayName {
    width: 150px; /* Adjust width as needed */
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    flex: 1; /* Take up remaining space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    margin-right: 10px;
  }
  
  button#postComment {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #fff;
    color: #1f90dc;
    border: 1px solid #ccc;
  }
  
  .comment {
    position: relative; /* Ensure positioning context */
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .comment p {
    margin: 0;
  }
  
  .comment button {
    position: absolute;
    top: 5px; /* Adjust top position as needed */
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
    color: #666;
    border-radius: 3px;
  }
  
  .comment button.editBtn {
    right: 60px; /* Adjust right position for edit button */
    background-color: #fff; /* Set background color to white */
    color: #1f90dc;
  }
  
  .comment button.deleteBtn {
    right: 5px; /* Keep right position for delete button */
    background-color: #fff; /* Set background color to white */
    color: #1f90dc;
  }
  